<p>There are {{totalCarParts()}} total parts in stock.</p>
<li class="card" *ngFor="let carPart of carParts" [class.featured]="carPart.featured" >
        <div class="panel-body">
                <div class="photo">
                        <img [src]="carPart.image">
                </div>
        <table class="product-info">
                <tr>
                                <h2>{{carPart.name | uppercase }}</h2>
                                <td class="description">{{carPart.description}}</td>
                                <td class="price">{{carPart.price | currency:'USD':true}}</td>
                                <div class="select-cuantity">
                                        <button class="decrease" (click)="downQuantity(carPart)">-</button>
                                        <input class="number" type="text" [(ngModel)]="carPart.quantity">
                                        <button class="increase" (click)="upQuantity(carPart)">+</button>
                                </div>
                                <td *ngIf="carPart.inStock > 0" >{{carPart.inStock}} in Stock</td>
                                <td *ngIf="carPart.inStock === 0">Out of Stock</td>
                </tr>
        </table>
        </div>

</li>
